[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = ">1.2.0"
pygsheets = "*"
python-telegram-bot = ">10.0"

[dev-packages]

[requires]
python_version = "3.6"
